.NavBar {
    border-bottom: 2px solid rgb(104, 0, 149);
    display: flex;
    align-items: center;
    padding-left: 10px;

    &__logo {
        height: 30px;
        padding-right: 5px;
    }

    &__heading {
        color: rgb(104, 0, 149);
        padding-left: 5px;
    }
}