.NavBar {
    border-bottom: 5px solid rgb(104, 0, 149);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;

    &_brand {
        display: flex;
        align-items: center;

        &__logo {
            height: 30px;
            padding-right: 5px;
        }
    
        &__heading {
            color: rgb(104, 0, 149);
            padding-left: 5px;
        }
    }

    
}
