
.cardFront {
    max-height: 400px;
    max-width: 275px;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
    border: solid 2px rgb(70, 50, 111);
    backface-visibility: hidden;
    background-color: white;
    margin: 20px;
    padding: 20px;

    &__img {
        height: 50%;
        width: 100%;
    }

    &__info {
        padding: 5px 15px 35px 15px;
    }

    &__RecipeName {
        color: rgb(104, 0, 149);
    }

    &__Origin {
        color: grey;
        padding: none;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        &Styles {
            text-decoration: none;
            color: grey;
            font-size: large
        }
    }
}