
.cardBack {
    border: 2px solid rgb(104, 0, 149);
    border-radius: 6px;
    display: inline-block;
    margin: 25px;  
    box-shadow: 1px 5px 10px darkgray;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 5px 15px 5px 15px;
    height: 380px;
    width: 275px;

    &__RecipeName {
        color: rgb(104, 0, 149);
        padding-bottom: 10px;
    }

    &__heading {
        color: rgb(104, 0, 149);
    }

    &__info {
        color: grey;
    }
}