
.cardBack {
    max-height: 400px;
    max-width: 275px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
    border: solid 2px rgb(70, 50, 111);
    backface-visibility: hidden;
    background-color: white;
    margin: 20px;
    padding: 20px;

    &__Recipe {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_Name {
        color: rgb(104, 0, 149);
        }
    }

    &__heading {
        color: rgb(104, 0, 149);
    }

    &__info {
        &_instructions {
            color: grey;
            // overflow-y: scroll;
            height: 30%; 
            font-size: small;
        }

        &_ingredients {
            color: grey;
            text-overflow: ellipsis;
            list-style: none;
            overflow-y: scroll;
            height: 30%;
            margin-top: 20px;
            font-size: small;
        }

        &_list {
            display: flex;
            align-items: center;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;

    &-track {
        background:rgba(170, 102, 202, 0.509);
        box-shadow: inset 0 0 5px grey; 
        border-radius: 25px;
    }

    &-thumb {
        background: rgb(104, 0, 149);
        border-radius: 25px;
        size: 5px;
    }
}